<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

	<div class="row">
		<h4>Controle de ONU</h4>
		<form class="col s12" action="index/save" method="post">
			<div class="row">
				<div class="input-field col s6 ">
					<input id="id_client" name="id_client" type="text" class="validate ">
					<label>ID Cliente</label>
				</div>
				<div class="input-field col s6">
					<input id="name_client" name="name_client "type="text" class="validate">
					<label>Nome do cliente</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="num_serie" name="name_client" type="text" class="validate">
					<label>Nº de serie da ONU: exemplo: FHTT23200000</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="patrimonio" name="name_client" type="number" class="validate">
					<label>Patrímonio</label>
				</div>
			</div>
			<div>
				<input type="text" class="timepicker">
			</div>
			<div class="">
				<button type="submit" name="" value="Salvar" class="class=waves-effect waves-light btn">Salvar</button>
			</div>

		</form>
	</div>
	<h5>Relação de ONU's</h5>
	<table class="centered responsive-table">
		<thead>
			<tr>
				<th>Nº de série</th>
				<th>Patrímonio</th>
				<th>Id Cliente</th>
				<th>Cliente</th>
			</tr>
		</thead>
		<% for(var i = 0; i < onu.length; i++) {%>
			<tr>
				<td><%= onu[i].num_serie	%></td>
				<td><%= onu[i].patrimonio 	%></td>
				<td><%= onu[i].id_client 	%></td>
				<td><%= onu[i].name_client 	%></td>
			</tr>
		<% } %>


	</table>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
